<div class="page-header">
  <h2>
    <%= link_to('All', user_sheets_path(@sheet.user, @sheet))%> /
    <%= link_to(@sheet.name, user_sheet_path(@sheet.user, @sheet)) %> / history
  </h2>
</div>
<div class="row">
  <% @commits.each do |commit_by_date| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> <%= commit_by_date[0].date.strftime("%m-%d-%y") %> </h3>
    </div>
    <div class="panel-body">
    <% commit_by_date.each do |commit| %>
    <ul class="list-group">
      <%= link_to '#', :class => "list-group-item" do %>
        <%= holder_tag '40x40', 'user', 'industrial', :class => "pull-left margin_r_10" %>
        <h4 class="list-group-item-heading"> <%= commit.message %> </h4>
        <p class="list-group-item-text">
          <%= "#{commit.committer.name} authored on #{commit.date}" %>
        </p>
      <% end %>
    </ul>
    <% end %>
    </div>
  </div>
  <% end %>
</div>
