<div class="span12">
  <div class="sheet pull-right">
    <%= link_to("New Sheet", new_user_sheet_path(@user) , :class => "btn btn-mini btn-primary")%>
    &nbsp;
  </div>
  <h3> <%= "\'#{@user.email}\' -> sheet id = \'#{@sheet.id}\'" %> </h3>
  <div class="span12">
    <pre> <%= @sheet.path %> </pre>
      <div>
        <%= link_to("Edit", edit_user_sheet_path(@sheet.user, @sheet),
          :class => "btn btn-mini btn-primary") %>
        <%= link_to("Delete", user_sheet_path(@sheet.user, @sheet),
          :class   => "btn btn-mini btn-warning",
          :method  => :delete,
          :confirm => "Areyousure?") %>
      </div>
  </div>

  <h3> Study handsontable by FAKE data </h3>

  <%= javascript_include_tag "application" %>

  <input id="search_field" type="text" placeholder="Search"> </input>
  <div id="dataTable", class="handsontable"> </div>

  <%= render :partial => "showtable_js" %>

  <button name="dump" data-dump="#dataTable" title="Prints current data source to Firebug/Chrome Dev Tools">
    Dump data to console
  </button>
  <button name="save"  title="save current data into tmp folder">
    Save data to tmp
  </button>
  
  <%= link_to("Upload", upload_user_sheet_path(@sheet.user, @sheet),
    :class => "btn btn-mini btn-primary") %>
</div>
