<div class="span12">
  <div class="sheet pull-right">
    <%= link_to("New Sheet", new_user_sheet_path(@user) , :class => "btn btn-mini btn-primary")%>
    &nbsp;
  </div>
  <h3>
      <%= link_to('All', user_sheets_path(@sheet.user, @sheet)) %> / <%= @sheet.name %>
  </h3>
  <div class="span12">
    <pre> <%= @sheet.name %> </pre>
      <div>
        <%= link_to("Rename", edit_user_sheet_path(@sheet.user, @sheet),
          :class => "btn btn-mini btn-primary") %>
        <%= link_to("Delete", user_sheet_path(@sheet.user, @sheet),
          :class   => "btn btn-mini btn-warning",
          :method  => :delete,
          :data    => { :confirm => "Areyousure?" }) %>
      </div>
  </div>

  <h3> This is your latest table </h3>

  <%= javascript_include_tag "application" %>

  <input id="search_field" type="text" placeholder="Search"> </input>
  <button name="undo" class="btn btn-warning"> Undo </button>
  <button name="redo" class="btn btn-info"> Redo </button>
  <div id="dataTable", class="handsontable margin10"> </div>

  <%= render :partial => "showtable_js" %>

  <button name="dump" data-dump="#dataTable" class="btn btn-mini btn-info" title="Prints data to Firebug/Chrome Dev Tools">
    Dump data to console
  </button>

  <button name="load" class="btn btn-mini btn-primary" title="load data">
    Load
  </button>

  <%= link_to("Push", upload_user_sheet_path(@sheet.user, @sheet),
              :class => "btn btn-mini btn-primary", :title => "upload data") %>
  <%= link_to("Pull", pull_user_sheet_path(@sheet.user, @sheet),
              :class => "btn btn-mini btn-primary", :title => "update data") %>

  <button name="mypopup" class="btn btn-mini btn-primary" title="save data by popup">
    Save up
  </button>

  <div id="hide_save" class="hide_save">
    <a class="b-close">x</a>
    <h3> Leave comment before you save </h3>
    <%= simple_form_for [@user, @sheet] do |f| %>
      <%= f.text_area :commit, :id => "commit", :rows => 5, :class => "input-lg full-textarea" %>
      <div class="form-actions margin_t_10">
        <button name="save" class="btn btn-primary btn-block" title="save data" data-disable-with="Submiting...">
          Submit
        </button>
      </div>
    <% end %>
  </div>

  <%= link_to("History", history_user_sheet_path(@sheet.user, @sheet),
              :class => "btn btn-mini btn-success", :title => "check history") %>
</div>
