<div id="introduction" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#introduction" data-slide-to="0" class="active"></li>
    <li data-target="#introduction" data-slide-to="1"></li>
    <li data-target="#introduction" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="center_image">
        <%= image_tag("introduction1.png", :alt => "First slide") %>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Manage Your Orders.</h1>
          <p>you need a better platform between you and your partners</p>
          <%= link_to( "Sign up today" ,new_user_registration_path, :class => "btn btn-large btn-primary") %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="center_image">
        <%= image_tag("introduction2.png", :alt => "Second slide") %>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Track Your Change.</h1>
          <p>All those painful changes are well tracked.</p>
          <%= link_to( "Sign up today" ,new_user_registration_path, :class => "btn btn-large btn-primary") %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="center_image">
        <%= image_tag("introduction3.png", :alt => "Third slide") %>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Save Your Coffee Hours.</h1>
          <p>Spin up cycle time from injuiries, orders to shippments.</p>
          <%= link_to( "Sign up today" ,new_user_registration_path, :class => "btn btn-large btn-primary") %>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#introduction" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#introduction" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


