<div class="span12">
  <div class="spreadsheet pull-right">
    <%= link_to("New Sheet", new_user_spreadsheet_path(@user) , :class => "btn btn-mini btn-primary")%>
    &nbsp;
  </div>
  <h3> <%= "\'#{@user.email}\' -> spreadsheet id = \'#{@spreadsheet.id}\'" %> </h3>
  <div class="span12">
    <pre> <%= @spreadsheet.content %> </pre>
      <div>
        <%= link_to("Edit", edit_user_spreadsheet_path(@spreadsheet.user, @spreadsheet),
          :class => "btn btnbtn-mini btn-primary") %>
        <%= link_to("Delete", user_spreadsheet_path(@spreadsheet.user, @spreadsheet),
          :class   => "btn btnbtn-mini btn-warning",
          :method  => :delete,
          :confirm => "Areyousure?") %>
      </div>
  </div>
</div>
